## ðŸ§  CNN-LSTM Model Training â€” Separate File

In this file, we are training the CNN-LSTM model on the data we have collected.

Since many parts of the data processing steps differ from those used in training the Random Forest and MLP models, we chose to train the CNN-LSTM model in a new, separate file.

This separation ensures cleaner organization and prevents conflicts between different model training pipelines.

# 1.STPU

In [63]:
# Loading the data

import pandas as pd

stpu_file_paths = [
    "./data/STPU/stpu1.xlsx",
    "./data/STPU/stpu2.xlsx",
    "./data/STPU/stpu3.xlsx",
    "./data/STPU/stpu4.xlsx",
    "./data/STPU/stpu5.xlsx",
    "./data/STPU/stpu6.xlsx",
    "./data/STPU/stpu7.xlsx",
    "./data/STPU/stpu8.xlsx",
    "./data/STPU/stpu9.xlsx",
    "./data/STPU/stpu10.xlsx",
    "./data/STPU/stpu11.xlsx",
    "./data/STPU/stpu12.xlsx",
    "./data/STPU/stpu13.xlsx",
    "./data/STPU/stpu14.xlsx",
    "./data/STPU/stpu15.xlsx",
    "./data/STPU/stpu16.xlsx",
    "./data/STPU/stpu17.xlsx",
    "./data/STPU/stpu18.xlsx",
    "./data/STPU/stpu19.xlsx",
    "./data/STPU/stpu20.xlsx",
    "./data/STPU/stpu21.xlsx",
    "./data/STPU/stpu22.xlsx",
    "./data/STPU/stpu23.xlsx",
    "./data/STPU/stpu24.xlsx",
    "./data/STPU/stpu25.xlsx",
    "./data/STPU/stpu26.xlsx",
    "./data/STPU/stpu27.xlsx",
    "./data/STPU/stpu28.xlsx",
    "./data/STPU/stpu29.xlsx",
    "./data/STPU/stpu30.xlsx",
    "./data/STPU/stpu31.xlsx",
    "./data/STPU/stpu32.xlsx",
    "./data/STPU/stpu33.xlsx",
    "./data/STPU/stpu34.xlsx",
    "./data/STPU/stpu35.xlsx",
    "./data/STPU/stpu36.xlsx",
    "./data/STPU/stpu37.xlsx",
    "./data/STPU/stpu38.xlsx",
    "./data/STPU/stpu39.xlsx",
    "./data/STPU/stpu40.xlsx",
    "./data/STPU/stpu41.xlsx",
    "./data/STPU/stpu42.xlsx",
    "./data/STPU/stpu43.xlsx",
    "./data/STPU/stpu44.xlsx",
    "./data/STPU/stpu45.xlsx",
    "./data/STPU/stpu46.xlsx",
    "./data/STPU/stpu47.xlsx",
    "./data/STPU/stpu48.xlsx",
    "./data/STPU/stpu49.xlsx",
    "./data/STPU/stpu50.xlsx",
    "./data/STPU/stpu51.xlsx",
    "./data/STPU/stpu52.xlsx",
    "./data/STPU/stpu53.xlsx",
    "./data/STPU/stpu54.xlsx",
    "./data/STPU/stpu55.xlsx",
    "./data/STPU/stpu56.xlsx",
    "./data/STPU/stpu57.xlsx",
    "./data/STPU/stpu58.xlsx",
    "./data/STPU/stpu59.xlsx",
    "./data/STPU/stpu60.xlsx",
    "./data/STPU/stpu61.xlsx",
    "./data/STPU/stpu62.xlsx",
    "./data/STPU/stpu63.xlsx",
    "./data/STPU/stpu64.xlsx",
    "./data/STPU/stpu65.xlsx",
    "./data/STPU/stpu66.xlsx",
    "./data/STPU/stpu67.xlsx",
    "./data/STPU/stpu68.xlsx",
    "./data/STPU/stpu69.xlsx",
    "./data/STPU/stpu70.xlsx",
    ]

# Loading the excel files into dataframes
stpu_dfs = [pd.read_excel(file_path) for file_path in stpu_file_paths]

In [64]:
# Assume dfs_list contains all your individual DataFrames
stpu = pd.concat(stpu_dfs, ignore_index=True)

# Label every sample as '0 (push-up transition)
stpu['label'] = 0 # 0= standingâ†’pushup

# Verify
print(stpu.head())

        time  ax (m/s^2)  ay (m/s^2)  az (m/s^2)  atotal  atotal_smoothed  \
0  76.451308     -0.6297     -0.0880      0.2512   0.684           1.0136
1  76.452642     -0.7964     -0.1188     -0.4001   0.899           1.1646
2  76.453499     -1.0984     -0.1765     -0.9910   1.490           1.3356
3  76.454424     -1.3275     -0.2179     -1.2456   1.833           1.4834
4  76.455192     -1.3682     -0.3023     -1.0842   1.772           1.5082

   still  still_change               movement_label  label
0  False           179  tommy_standing_to_pushup_10      0
1  False           179  tommy_standing_to_pushup_10      0
2  False           179  tommy_standing_to_pushup_10      0
3  False           179  tommy_standing_to_pushup_10      0
4  False           179  tommy_standing_to_pushup_10      0

All dataframes have identical structures. There are no missing values. The features needed are:
1. ax
2. ay
3. az
4. atotal

In [65]:
stpu = stpu.rename(columns={
    'ax (m/s^2)': 'ax',
    'ay (m/s^2)': 'ay', 
    'az (m/s^2)': 'az'
})


stpu = stpu.drop(columns=['atotal','atotal_smoothed', 'still', 'still_change', 'movement_label'])

In [66]:
# Confirming changes
stpu.head()

        time      ax      ay      az  label
0  76.451308 -0.6297 -0.0880  0.2512      0
1  76.452642 -0.7964 -0.1188 -0.4001      0
2  76.453499 -1.0984 -0.1765 -0.9910      0
3  76.454424 -1.3275 -0.2179 -1.2456      0
4  76.455192 -1.3682 -0.3023 -1.0842      0

# 2.PUR

In [67]:
# Loading the data

pur_file_paths = [
    "./data/PUR/pur1.csv",
    "./data/PUR/pur2.csv",
    "./data/PUR/pur3.csv",
    "./data/PUR/pur4.csv",
    "./data/PUR/pur5.csv",
    "./data/PUR/pur6.csv",
    "./data/PUR/pur7.csv",
    "./data/PUR/pur8.csv",
    ]

# Loading the csv files into dataframes
pur_dfs = [pd.read_csv(file_path) for file_path in pur_file_paths]

In [68]:
# Assume dfs_list contains all your individual DataFrames
pur = pd.concat(pur_dfs, ignore_index=True)

# Label every sample as '1' (push-up transition)
pur['label'] = 1 

# Verify
print(pur.head())

       time  ax (m/s^2)  ay (m/s^2)  az (m/s^2)  aT (m/s^2)  atotal  label
0  0.002824     -0.0072      0.1448      0.0007       0.145     NaN      1
1  0.003206     -0.0257      0.0913     -0.0591       0.112     NaN      1
2  0.008790     -0.0057      0.0301     -0.1714       0.174     NaN      1
3  0.021622     -0.0379     -0.0295     -0.2115       0.217     NaN      1
4  0.022046     -0.0600     -0.0296     -0.1485       0.163     NaN      1

All dataframes have identical structures. There are no missing values. Dtypes are correct. The features needed are:
1. ax
2. ay
3. az
4. atotal

In [69]:
pur = pur.rename(columns={
    'ax (m/s^2)': 'ax',
    'ay (m/s^2)': 'ay', 
    'az (m/s^2)': 'az'
})


pur = pur.drop(columns=['atotal','aT (m/s^2)'])

In [70]:
pur.head()

       time      ax      ay      az  label
0  0.002824 -0.0072  0.1448  0.0007      1
1  0.003206 -0.0257  0.0913 -0.0591      1
2  0.008790 -0.0057  0.0301 -0.1714      1
3  0.021622 -0.0379 -0.0295 -0.2115      1
4  0.022046 -0.0600 -0.0296 -0.1485      1

# 3.PUST

In [71]:
# Loading the data

pust_file_paths = [
    "./data/PUST/pust1.xlsx",
    "./data/PUST/pust2.xlsx",
    "./data/PUST/pust3.xlsx",
    "./data/PUST/pust4.xlsx",
    "./data/PUST/pust5.xlsx",
    "./data/PUST/pust6.xlsx",
    "./data/PUST/pust7.xlsx",
    "./data/PUST/pust8.xlsx",
    "./data/PUST/pust9.xlsx",
    "./data/PUST/pust10.xlsx",
    "./data/PUST/pust11.xlsx",
    "./data/PUST/pust12.xlsx",
    "./data/PUST/pust13.xlsx",
    "./data/PUST/pust14.xlsx",
    "./data/PUST/pust15.xlsx",
    "./data/PUST/pust16.xlsx",
    "./data/PUST/pust17.xlsx",
    "./data/PUST/pust18.xlsx",
    "./data/PUST/pust19.xlsx",
    "./data/PUST/pust20.xlsx",
    "./data/PUST/pust21.xlsx",
    "./data/PUST/pust22.xlsx",
    "./data/PUST/pust23.xlsx",
    "./data/PUST/pust24.xlsx",
    "./data/PUST/pust25.xlsx",
    "./data/PUST/pust26.xlsx",
    "./data/PUST/pust27.xlsx",
    "./data/PUST/pust28.xlsx",
    "./data/PUST/pust29.xlsx",
    "./data/PUST/pust30.xlsx",
    "./data/PUST/pust31.xlsx",
    "./data/PUST/pust32.xlsx",
    "./data/PUST/pust33.xlsx",
    "./data/PUST/pust34.xlsx",
    "./data/PUST/pust35.xlsx",
    "./data/PUST/pust36.xlsx",
    "./data/PUST/pust37.xlsx",
    "./data/PUST/pust38.xlsx",
    "./data/PUST/pust39.xlsx",
    "./data/PUST/pust40.xlsx",
    "./data/PUST/pust41.xlsx",
    "./data/PUST/pust42.xlsx",
    "./data/PUST/pust43.xlsx",
    "./data/PUST/pust44.xlsx",
    "./data/PUST/pust45.xlsx",
    "./data/PUST/pust46.xlsx",
    "./data/PUST/pust47.xlsx",
    "./data/PUST/pust48.xlsx",
    "./data/PUST/pust49.xlsx",
    "./data/PUST/pust50.xlsx",
    "./data/PUST/pust51.xlsx",
    "./data/PUST/pust52.xlsx",
    "./data/PUST/pust53.xlsx",
    "./data/PUST/pust54.xlsx",
    "./data/PUST/pust55.xlsx",
    "./data/PUST/pust56.xlsx",
    "./data/PUST/pust57.xlsx",
    "./data/PUST/pust58.xlsx",
    "./data/PUST/pust59.xlsx",
    "./data/PUST/pust60.xlsx",
    "./data/PUST/pust61.xlsx",
    "./data/PUST/pust62.xlsx",
    "./data/PUST/pust63.xlsx",
    "./data/PUST/pust64.xlsx",
    "./data/PUST/pust65.xlsx",
    "./data/PUST/pust66.xlsx",
    "./data/PUST/pust67.xlsx",
    "./data/PUST/pust68.xlsx",
    "./data/PUST/pust69.xlsx",
    "./data/PUST/pust70.xlsx",
    "./data/PUST/pust71.xlsx",
    "./data/PUST/pust72.xlsx",
    "./data/PUST/pust73.xlsx",
    "./data/PUST/pust74.xlsx",
    "./data/PUST/pust75.xlsx",
    "./data/PUST/pust76.xlsx",
    "./data/PUST/pust77.xlsx",
    "./data/PUST/pust78.xlsx",
    "./data/PUST/pust79.xlsx",
    "./data/PUST/pust80.xlsx",
    ]

# Loading the excel files into dataframes
pust_dfs = [pd.read_excel(file_path) for file_path in pust_file_paths]

In [72]:
# Assume dfs_list contains all your individual DataFrames
pust = pd.concat(pust_dfs, ignore_index=True)

# Label every sample as '1' (push-up transition)
pust['label'] = 2 #  = standingâ†’pushup

# Verify
print(pust.head())

       time  ax (m/s^2)  ay (m/s^2)  az (m/s^2)  atotal  atotal_smoothed  \
0  6.846770     -0.4639     -0.0370     -0.8992   1.013           1.0978
1  6.848285     -0.5158      0.1646     -1.1533   1.274           1.2700
2  6.850284     -0.5547      0.3096     -1.4640   1.596           1.3884
3  6.863154     -0.7353      0.3796     -1.3543   1.587           1.4728
4  6.865061     -0.8782      0.3255     -1.1358   1.472           1.5052

   still  still_change             movement_label  label
0  False            13  anto_pushup_to_standing_1      2
1  False            13  anto_pushup_to_standing_1      2
2  False            13  anto_pushup_to_standing_1      2
3  False            13  anto_pushup_to_standing_1      2
4  False            13  anto_pushup_to_standing_1      2

In [73]:
pust = pust.rename(columns={
    'ax (m/s^2)': 'ax',
    'ay (m/s^2)': 'ay', 
    'az (m/s^2)': 'az'
})


pust = pust.drop(columns=['atotal','atotal_smoothed', 'still', 'still_change', 'movement_label'])
pust.head()

       time      ax      ay      az  label
0  6.846770 -0.4639 -0.0370 -0.8992      2
1  6.848285 -0.5158  0.1646 -1.1533      2
2  6.850284 -0.5547  0.3096 -1.4640      2
3  6.863154 -0.7353  0.3796 -1.3543      2
4  6.865061 -0.8782  0.3255 -1.1358      2

All dataframes have identical structures. There are no missing values. The features needed are:
1. ax
2. ay
3. az
4. atotal

# 4.STSU

In [74]:
# Loading the data

stsu_file_paths = [
    "./data/STSU/stsu1.xlsx",
    "./data/STSU/stsu2.xlsx",
    "./data/STSU/stsu3.xlsx",
    "./data/STSU/stsu4.xlsx",
    "./data/STSU/stsu5.xlsx",
    "./data/STSU/stsu6.xlsx",
    "./data/STSU/stsu7.xlsx",
    "./data/STSU/stsu8.xlsx",
    "./data/STSU/stsu9.xlsx",
    "./data/STSU/stsu10.xlsx",
    "./data/STSU/stsu11.xlsx",
    "./data/STSU/stsu12.xlsx",
    "./data/STSU/stsu13.xlsx",
    "./data/STSU/stsu14.xlsx",
    "./data/STSU/stsu15.xlsx",
    "./data/STSU/stsu16.xlsx",
    "./data/STSU/stsu17.xlsx",
    "./data/STSU/stsu18.xlsx",
    "./data/STSU/stsu19.xlsx",
    "./data/STSU/stsu20.xlsx",
    "./data/STSU/stsu21.xlsx",
    "./data/STSU/stsu22.xlsx",
    "./data/STSU/stsu23.xlsx",
    "./data/STSU/stsu24.xlsx",
    "./data/STSU/stsu25.xlsx",
    "./data/STSU/stsu26.xlsx",
    "./data/STSU/stsu27.xlsx",
    "./data/STSU/stsu28.xlsx",
    # "./data/STSU/stsu29.xlsx", does not exist
    "./data/STSU/stsu30.xlsx",
    "./data/STSU/stsu31.xlsx",
    "./data/STSU/stsu32.xlsx",
    "./data/STSU/stsu33.xlsx",
    "./data/STSU/stsu34.xlsx",
    "./data/STSU/stsu35.xlsx",
    "./data/STSU/stsu36.xlsx",
    "./data/STSU/stsu37.xlsx",
    "./data/STSU/stsu38.xlsx",
    "./data/STSU/stsu39.xlsx",
    "./data/STSU/stsu40.xlsx",
    "./data/STSU/stsu41.xlsx",
    "./data/STSU/stsu42.xlsx",
    "./data/STSU/stsu43.xlsx",
    "./data/STSU/stsu44.xlsx",
    "./data/STSU/stsu45.xlsx",
    "./data/STSU/stsu46.xlsx",
    "./data/STSU/stsu47.xlsx",
    "./data/STSU/stsu48.xlsx",
    "./data/STSU/stsu49.xlsx",
    "./data/STSU/stsu50.xlsx",
    "./data/STSU/stsu51.xlsx",
    "./data/STSU/stsu52.xlsx",
    "./data/STSU/stsu53.xlsx",
    "./data/STSU/stsu54.xlsx",
    "./data/STSU/stsu55.xlsx",
    "./data/STSU/stsu56.xlsx",
    "./data/STSU/stsu57.xlsx",
    "./data/STSU/stsu58.xlsx",
    "./data/STSU/stsu59.xlsx",
    "./data/STSU/stsu60.xlsx",
    "./data/STSU/stsu61.xlsx",
    "./data/STSU/stsu62.xlsx",
    "./data/STSU/stsu63.xlsx",
    "./data/STSU/stsu64.xlsx",
    "./data/STSU/stsu65.xlsx",
    "./data/STSU/stsu66.xlsx",
    "./data/STSU/stsu67.xlsx",
    "./data/STSU/stsu68.xlsx",
    "./data/STSU/stsu69.xlsx",
    "./data/STSU/stsu70.xlsx",
    "./data/STSU/stsu71.xlsx",
    "./data/STSU/stsu72.xlsx",
    "./data/STSU/stsu73.xlsx",
    "./data/STSU/stsu74.xlsx",
    "./data/STSU/stsu75.xlsx",
    "./data/STSU/stsu76.xlsx",
    "./data/STSU/stsu77.xlsx",
    ]

stsu_dfs = [pd.read_excel(file_path) for file_path in stsu_file_paths]

In [75]:
# Assume dfs_list contains all your individual DataFrames
stsu = pd.concat(stsu_dfs, ignore_index=True)

# Label every sample as '1' (push-up transition)
stsu['label'] = 3 # 1 = standingâ†’pushup

# Verify
print(stsu.head())

        time  ax (m/s^2)  ay (m/s^2)  az (m/s^2)  atotal  atotal_smoothed  \
0  21.379306     -0.7272     -0.2440      0.0860   0.772           1.0066
1  21.410267     -0.9535     -0.5128     -0.5733   1.225           1.2828
2  21.411194     -1.1801     -0.7683     -1.0380   1.749           1.5108
3  21.412300     -1.2524     -0.9034     -1.2055   1.959           1.6464
4  21.413625     -1.1681     -0.9134     -1.1043   1.849           1.5792

   still  still_change               movement_label  label
0  False            41  georgio_standing_to_situp_3      3
1  False            41  georgio_standing_to_situp_3      3
2  False            41  georgio_standing_to_situp_3      3
3  False            41  georgio_standing_to_situp_3      3
4  False            41  georgio_standing_to_situp_3      3

In [76]:
stsu = stsu.rename(columns={
    'ax (m/s^2)': 'ax',
    'ay (m/s^2)': 'ay', 
    'az (m/s^2)': 'az'
})


stsu = stsu.drop(columns=['atotal','atotal_smoothed', 'still', 'still_change', 'movement_label'])

All dataframes have identical structures. There are no missing values. The features needed are:
1. ax
2. ay
3. az
4. atotal

In [77]:
stsu.head()

        time      ax      ay      az  label
0  21.379306 -0.7272 -0.2440  0.0860      3
1  21.410267 -0.9535 -0.5128 -0.5733      3
2  21.411194 -1.1801 -0.7683 -1.0380      3
3  21.412300 -1.2524 -0.9034 -1.2055      3
4  21.413625 -1.1681 -0.9134 -1.1043      3

# 5.SUR

In [78]:
# Loading the data

sur_file_paths = [
    "./data/SUR/sur1.csv",
    "./data/SUR/sur2.csv",
    "./data/SUR/sur3.csv",
    "./data/SUR/sur4.csv",
    "./data/SUR/sur5.csv",
    "./data/SUR/sur6.csv",
    "./data/SUR/sur7.csv",
    "./data/SUR/sur8.csv",
]

sur_dfs = [pd.read_csv(file_path) for file_path in sur_file_paths]

In [79]:
# Assume dfs_list contains all your individual DataFrames
sur = pd.concat(sur_dfs, ignore_index=True)

# Label every sample as '1' (push-up transition)
sur['label'] =4  # 1 = standingâ†’pushup

# Verify
print(sur.head())

       time  ax (m/s^2)  ay (m/s^2)  az (m/s^2)  aT (m/s^2)  label
0  0.004059      0.0309      0.0060     -0.0613       0.069      4
1  0.004968      0.0543      0.0129     -0.0618       0.083      4
2  0.025202      0.0803      0.0316     -0.0764       0.115      4
3  0.026548      0.1231      0.0142     -0.0695       0.142      4
4  0.027199      0.1231      0.0306     -0.0528       0.137      4

In [80]:
sur = sur.rename(columns={
    'ax (m/s^2)': 'ax',
    'ay (m/s^2)': 'ay', 
    'az (m/s^2)': 'az'
})


sur = sur.drop(columns=['aT (m/s^2)'])
sur.head()

       time      ax      ay      az  label
0  0.004059  0.0309  0.0060 -0.0613      4
1  0.004968  0.0543  0.0129 -0.0618      4
2  0.025202  0.0803  0.0316 -0.0764      4
3  0.026548  0.1231  0.0142 -0.0695      4
4  0.027199  0.1231  0.0306 -0.0528      4

All dataframes have identical structures. There are no missing values. Dtypes are correct. The features needed are:
1. ax
2. ay
3. az
4. atotal

# 6.SUST

In [81]:
# Loading the data
sust_file_paths = [
    "./data/SUST/sust1.xlsx",
    "./data/SUST/sust2.xlsx",
    "./data/SUST/sust3.xlsx",
    "./data/SUST/sust4.xlsx",
    "./data/SUST/sust5.xlsx",
    "./data/SUST/sust6.xlsx",
    "./data/SUST/sust7.xlsx",
    "./data/SUST/sust8.xlsx",
    "./data/SUST/sust9.xlsx",
    "./data/SUST/sust10.xlsx",
    "./data/SUST/sust11.xlsx",
    "./data/SUST/sust12.xlsx",
    "./data/SUST/sust13.xlsx",
    "./data/SUST/sust14.xlsx",
    "./data/SUST/sust15.xlsx",
    "./data/SUST/sust16.xlsx",
    "./data/SUST/sust17.xlsx",
    "./data/SUST/sust18.xlsx",
    "./data/SUST/sust19.xlsx",
    "./data/SUST/sust20.xlsx",
    "./data/SUST/sust21.xlsx",
    "./data/SUST/sust22.xlsx",
    "./data/SUST/sust23.xlsx",
    "./data/SUST/sust24.xlsx",
    "./data/SUST/sust25.xlsx",
    "./data/SUST/sust26.xlsx",
    "./data/SUST/sust27.xlsx",
    "./data/SUST/sust28.xlsx",
    "./data/SUST/sust29.xlsx",
    "./data/SUST/sust30.xlsx",
    "./data/SUST/sust31.xlsx",
    "./data/SUST/sust32.xlsx",
    "./data/SUST/sust33.xlsx",
    "./data/SUST/sust34.xlsx",
    "./data/SUST/sust35.xlsx",
    "./data/SUST/sust36.xlsx",
    "./data/SUST/sust37.xlsx",
    "./data/SUST/sust38.xlsx",
    "./data/SUST/sust39.xlsx",
    "./data/SUST/sust40.xlsx",
    "./data/SUST/sust41.xlsx",
    "./data/SUST/sust42.xlsx",
    "./data/SUST/sust43.xlsx",
    "./data/SUST/sust44.xlsx",
    "./data/SUST/sust45.xlsx",
    "./data/SUST/sust46.xlsx",
    "./data/SUST/sust47.xlsx",
    "./data/SUST/sust48.xlsx",
    "./data/SUST/sust49.xlsx",
    "./data/SUST/sust50.xlsx",
    "./data/SUST/sust51.xlsx",
    "./data/SUST/sust52.xlsx",
    "./data/SUST/sust53.xlsx",
    "./data/SUST/sust54.xlsx",
    "./data/SUST/sust55.xlsx",
    "./data/SUST/sust56.xlsx",
    "./data/SUST/sust57.xlsx",
    "./data/SUST/sust58.xlsx",
    "./data/SUST/sust59.xlsx",
    "./data/SUST/sust60.xlsx",
    "./data/SUST/sust61.xlsx",
    "./data/SUST/sust62.xlsx",
    "./data/SUST/sust63.xlsx",
    "./data/SUST/sust64.xlsx",
    "./data/SUST/sust65.xlsx",
    "./data/SUST/sust66.xlsx",
    "./data/SUST/sust67.xlsx",
    "./data/SUST/sust68.xlsx",
    "./data/SUST/sust69.xlsx",
    "./data/SUST/sust70.xlsx",
    "./data/SUST/sust71.xlsx",
    "./data/SUST/sust72.xlsx",
    "./data/SUST/sust73.xlsx",
    "./data/SUST/sust74.xlsx",
    "./data/SUST/sust75.xlsx",
    "./data/SUST/sust76.xlsx",
]

sust_dfs = [pd.read_excel(file_path) for file_path in sust_file_paths]

In [82]:
# Assume dfs_list contains all your individual DataFrames
sust = pd.concat(sust_dfs, ignore_index=True)

# Label every sample as '1' (push-up transition)
sust['label'] =5  # 1 = standingâ†’pushup

# Verify
print(sust.head())

       time  ax (m/s^2)  ay (m/s^2)  az (m/s^2)  atotal  atotal_smoothed  \
0  6.502034      0.8096      0.1133      0.9047   1.219           1.3308
1  6.503388      1.4356     -0.2364      1.2215   1.900           1.7570
2  6.526152      2.2584     -0.4547      1.0068   2.514           1.9558
3  6.526680      2.3045     -0.6803      0.1602   2.408           1.9546
4  6.560057      1.4347     -0.7868     -0.5854   1.738           1.8094

   still  still_change            movement_label  label
0  False            11  anto_situp_to_standing_1      5
1  False            11  anto_situp_to_standing_1      5
2  False            11  anto_situp_to_standing_1      5
3  False            11  anto_situp_to_standing_1      5
4  False            11  anto_situp_to_standing_1      5

In [83]:
sust = sust.rename(columns={
    'ax (m/s^2)': 'ax',
    'ay (m/s^2)': 'ay', 
    'az (m/s^2)': 'az'
})


sust = sust.drop(columns=['atotal','atotal_smoothed', 'still', 'still_change', 'movement_label'])
sust.head()

       time      ax      ay      az  label
0  6.502034  0.8096  0.1133  0.9047      5
1  6.503388  1.4356 -0.2364  1.2215      5
2  6.526152  2.2584 -0.4547  1.0068      5
3  6.526680  2.3045 -0.6803  0.1602      5
4  6.560057  1.4347 -0.7868 -0.5854      5

All dataframes have identical structures. There are no missing values. The features needed are:
1. ax
2. ay
3. az
4. atotal

# Preparing the data for DL

In [84]:
# Checking the shapes of the dfs
print(stpu.head())
print(pur.head())
print(pust.head())
print(stsu.head())
print(sur.head())
print(sust.head())

        time      ax      ay      az  label
0  76.451308 -0.6297 -0.0880  0.2512      0
1  76.452642 -0.7964 -0.1188 -0.4001      0
2  76.453499 -1.0984 -0.1765 -0.9910      0
3  76.454424 -1.3275 -0.2179 -1.2456      0
4  76.455192 -1.3682 -0.3023 -1.0842      0
       time      ax      ay      az  label
0  0.002824 -0.0072  0.1448  0.0007      1
1  0.003206 -0.0257  0.0913 -0.0591      1
2  0.008790 -0.0057  0.0301 -0.1714      1
3  0.021622 -0.0379 -0.0295 -0.2115      1
4  0.022046 -0.0600 -0.0296 -0.1485      1
       time      ax      ay      az  label
0  6.846770 -0.4639 -0.0370 -0.8992      2
1  6.848285 -0.5158  0.1646 -1.1533      2
2  6.850284 -0.5547  0.3096 -1.4640      2
3  6.863154 -0.7353  0.3796 -1.3543      2
4  6.865061 -0.8782  0.3255 -1.1358      2
        time      ax      ay      az  label
0  21.379306 -0.7272 -0.2440  0.0860      3
1  21.410267 -0.9535 -0.5128 -0.5733      3
2  21.411194 -1.1801 -0.7683 -1.0380      3
3  21.412300 -1.2524 -0.9034 -1.2055      3
4  21.413625 -1.1681 -0.9134 -1.1043      3
       time      ax      ay      az  label
0  0.004059  0.0309  0.0060 -0.0613      4
1  0.004968  0.0543  0.0129 -0.0618      4
2  0.025202  0.0803  0.0316 -0.0764      4
3  0.026548  0.1231  0.0142 -0.0695      4
4  0.027199  0.1231  0.0306 -0.0528      4
       time      ax      ay      az  label
0  6.502034  0.8096  0.1133  0.9047      5
1  6.503388  1.4356 -0.2364  1.2215      5
2  6.526152  2.2584 -0.4547  1.0068      5
3  6.526680  2.3045 -0.6803  0.1602      5
4  6.560057  1.4347 -0.7868 -0.5854      5

In [85]:
data = pd.concat([stpu, pur, pust, stsu, sur, sust], ignore_index=True)

In [86]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# 1. Select ONLY numeric features for scaling
numeric_cols = ['ax', 'ay', 'az', 'time']  # Adjust based on your actual columns
X_numeric = data[numeric_cols]

# 2. Scale numeric features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_numeric)
X_scaled = pd.DataFrame(X_scaled, columns=numeric_cols)

# 3. Keep labels separate
y = data['label']

# 4. Combine scaled features with labels if needed
data_scaled = pd.concat([X_scaled, y.reset_index(drop=True)], axis=1)

# 5. Verify
print(data_scaled.head())

         ax        ay        az      time  label
0 -0.233897 -0.064767  0.344845  1.276737      0
1 -0.306327 -0.086218  0.044815  1.276781      0
2 -0.437546 -0.126405 -0.227391  1.276809      0
3 -0.537089 -0.155239 -0.344676  1.276839      0
4 -0.554773 -0.214023 -0.270325  1.276865      0

In [87]:
import numpy as np

# Group into sequences of 100 timesteps
def create_sequences(data_scaled, window_size=100, step=50):
    X, y = [], []
    for i in range(0, len(data) - window_size, step):
        seq = data[['ax', 'ay', 'az']].iloc[i:i+window_size].values
        label = data['label'].iloc[i+window_size]  # Label at window end
        X.append(seq)
        y.append(label)
    return np.array(X), np.array(y)

X_sequences, y_sequences = create_sequences(data_scaled)
print(X_sequences.shape)  # (n_sequences, 100, 3)
print(y_sequences.shape)

(2850, 100, 3)
(2850,)

In [88]:
X_sequences
y_sequences

array([0, 0, 0, ..., 5, 5, 5], dtype=int64)

In [89]:
data.label.value_counts()

label
5    31219
4    28250
3    26794
2    21166
1    17728
0    17442
Name: count, dtype: int64

In [90]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, LSTM, Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix


print("Unique labels:", np.unique(y))  # Verify: [0 1 2 3 4 5]

# 2. Split into training (80%) and testing (20%) sets
X_train, X_test, y_train, y_test = train_test_split(
    X_sequences, y_sequences, 
    test_size=0.2, 
    random_state=42,
    stratify=y_sequences  # Preserves class distribution
)

# 3. Build model
model = Sequential([
    Conv1D(64, kernel_size=5, activation='relu', input_shape=(100, 3)),
    LSTM(128, return_sequences=True),
    LSTM(64),
    Dense(6, activation='softmax')  # 6 units for 6 classes
])

# 4. Compile
model.compile(
    optimizer='adam',
    loss='sparse_categorical_crossentropy',
    metrics=['accuracy']
)

# 5. Train
print("\nTraining:")
history = model.fit(
    X_train, y_train,
    epochs=20,
    batch_size=32,
    validation_data=(X_test, y_test),  # Evaluate on test set each epoch
    verbose=1
)

# 6. Evaluate on test set
print("\nFinal Test Evaluation:")
y_pred = model.predict(X_test)
y_pred_classes = np.argmax(y_pred, axis=1)

# 7. Metrics
print("\nClassification Report:")
print(classification_report(y_test, y_pred_classes))

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred_classes))

Unique labels: [0 1 2 3 4 5]

Training:
Epoch 1/20
72/72 [==============================] - 19s 151ms/step - loss: 1.6107 - accuracy: 0.3175 - val_loss: 1.4847 - val_accuracy: 0.3789
Epoch 2/20
72/72 [==============================] - 8s 116ms/step - loss: 1.4705 - accuracy: 0.3904 - val_loss: 1.4669 - val_accuracy: 0.3807
Epoch 3/20
72/72 [==============================] - 9s 119ms/step - loss: 1.3033 - accuracy: 0.4715 - val_loss: 1.3921 - val_accuracy: 0.4018
Epoch 4/20
72/72 [==============================] - 12s 172ms/step - loss: 1.2378 - accuracy: 0.5083 - val_loss: 1.4167 - val_accuracy: 0.4070
Epoch 5/20
72/72 [==============================] - 12s 167ms/step - loss: 1.1333 - accuracy: 0.5373 - val_loss: 1.1082 - val_accuracy: 0.5404
Epoch 6/20
72/72 [==============================] - 12s 161ms/step - loss: 1.0517 - accuracy: 0.5873 - val_loss: 1.2003 - val_accuracy: 0.5211
Epoch 7/20
72/72 [==============================] - 12s 167ms/step - loss: 1.0123 - accuracy: 0.6039 - val_loss: 1.1097 - val_accuracy: 0.5702
Epoch 8/20
72/72 [==============================] - 9s 124ms/step - loss: 1.0068 - accuracy: 0.6044 - val_loss: 1.0203 - val_accuracy: 0.5947
Epoch 9/20
72/72 [==============================] - 11s 151ms/step - loss: 0.8818 - accuracy: 0.6548 - val_loss: 0.9371 - val_accuracy: 0.6281
Epoch 10/20
72/72 [==============================] - 10s 144ms/step - loss: 0.8241 - accuracy: 0.6846 - val_loss: 1.0087 - val_accuracy: 0.5982
Epoch 11/20
72/72 [==============================] - 9s 128ms/step - loss: 0.7760 - accuracy: 0.7026 - val_loss: 0.8801 - val_accuracy: 0.6737
Epoch 12/20
72/72 [==============================] - 12s 160ms/step - loss: 0.7259 - accuracy: 0.7197 - val_loss: 0.7546 - val_accuracy: 0.7158
Epoch 13/20
72/72 [==============================] - 9s 123ms/step - loss: 0.6492 - accuracy: 0.7553 - val_loss: 0.7149 - val_accuracy: 0.7298
Epoch 14/20
72/72 [==============================] - 10s 136ms/step - loss: 0.5581 - accuracy: 0.7930 - val_loss: 0.6352 - val_accuracy: 0.7754
Epoch 15/20
72/72 [==============================] - 12s 169ms/step - loss: 0.5143 - accuracy: 0.8167 - val_loss: 0.7352 - val_accuracy: 0.7404
Epoch 16/20
72/72 [==============================] - 8s 116ms/step - loss: 0.5904 - accuracy: 0.7912 - val_loss: 0.7346 - val_accuracy: 0.7386
Epoch 17/20
72/72 [==============================] - 11s 152ms/step - loss: 0.4653 - accuracy: 0.8333 - val_loss: 0.6510 - val_accuracy: 0.7579
Epoch 18/20
72/72 [==============================] - 11s 147ms/step - loss: 0.4244 - accuracy: 0.8539 - val_loss: 0.6424 - val_accuracy: 0.7754
Epoch 19/20
72/72 [==============================] - 8s 118ms/step - loss: 0.3843 - accuracy: 0.8627 - val_loss: 0.5826 - val_accuracy: 0.8088
Epoch 20/20
72/72 [==============================] - 12s 164ms/step - loss: 0.3163 - accuracy: 0.8895 - val_loss: 0.5983 - val_accuracy: 0.8088

Final Test Evaluation:
18/18 [==============================] - 2s 33ms/step

Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.49      0.59        69
           1       0.98      0.89      0.93        71
           2       0.78      0.89      0.83        85
           3       0.86      0.65      0.74       107
           4       0.91      0.96      0.93       113
           5       0.68      0.88      0.77       125

    accuracy                           0.81       570
   macro avg       0.82      0.79      0.80       570
weighted avg       0.82      0.81      0.80       570


Confusion Matrix:
[[ 34   0  10   5   2  18]
 [  0  63   2   0   4   2]
 [  2   0  76   0   0   7]
 [  6   0   1  70   5  25]
 [  0   1   0   4 108   0]
 [  4   0   9   2   0 110]]

In [92]:
model.save('model_new.keras')